 .K2_svg_list li{List-style:none;}
    .K2_svg_list li::before{content: "\279C"; margin-right: 5px;}
        .icon-section {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          background-color: #f6f6f6;
          padding: 15px;
          border-radius: 5px;
          margin-top: -10px; /* Adjust this margin to raise the entire section */
        }

        .icon-image {
          flex: 0 0 55px;
          margin-right: 10px;
          background-color: #fff; /* Icon background color */
          border-radius: 5px;
          padding: 10px;
        }

        .icon-image svg {
          width: 40px;
          height: 40px;
          fill: #1877f2; /* Facebook blue color */
        }

        .icon-code {
          flex-grow: 1;
          overflow: hidden;
          position: relative;
          color: #333;
        }

        .icon-code:before {
          content: attr(data-text);
          display: flex;
          justify-content: flex-end;
          position: absolute;
          top: -10px; /* Adjust this value to move "Facebook" higher */
          left: 0;
          right: 0;
          background: inherit;
          font-size: 12px;
          padding: 0 10px;
          z-index: 2;
          line-height: 40px;
        }

        pre {
          margin: 0;
          font-size: 13px;
          line-height: 1.6em;
        }
 article .note{position:relative;padding:20px 30px 20px 50px;background-color:#8cd466;color:#01579b;font-size:21px;font-family:var(--font-body);line-height:1.62em;border-radius:2px}
article .note:before{content:'\2605';position:absolute;left:18px;font-size:20px}
article .noteAlert{background-color:#C44341; color:#ffffff}
article .noteAlert:before{content:'\2691'}
  .custom-header {
          background: linear-gradient(to right, rgb(41, 13, 191), rgb(255, 0, 153)) rgb(255, 255, 255);
          border-radius: 0px 22px; border: 0px;
          box-sizing: border-box;
          color: white;line-height: 1.4;
          list-style: none;
          margin: 0px 0px 0.2em;
          outline: none;
          padding: 5px 22px;
          text-align: center!important;
          text-transform: capitalize;
        }
